/* SOCIAL ICONS */
.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: #38bdf8;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.2);
}

/* REVEAL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Skill Hover Effect */
.skills-grid div {
    background: #1e293b;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.skills-grid div:hover {
    background: #38bdf8;
    color: #0f172a;
    transform: scale(1.05);
}
