* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: radial-gradient(circle at top, #0a0a0a, #000);
    color: white;
}

/* NAV */
header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fadeIn 1s ease;
}

.glow {
    font-size: 60px;
    background: linear-gradient(90deg, #00f5d4, #5b8cff);
    -webkit-background-clip: text;
    color: transparent;
}

.typing {
    margin: 20px;
    color: #aaa;
}

.tagline {
    color: #777;
}

/* BUTTONS */
.buttons {
    margin-top: 20px;
}

.btn, .btn-outline {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.btn {
    background: #00f5d4;
    color: black;
}

.btn-outline {
    border: 1px solid #00f5d4;
    color: #00f5d4;
}

/* SECTIONS */
.section {
    padding: 100px 20px;
    max-width: 1000px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARDS */
.card {
    padding: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,0.03);
    border: 1px solid #111;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #00f5d4;
    box-shadow: 0 0 20px rgba(0,245,212,0.2);
}

.tech {
    margin-top: 10px;
    color: #aaa;
}

/* ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}